<!DOCTYPE html>
<html>
  <head>
    <title>TvShowApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <h2> Welcome to your TV </h2>
    <%= form_tag(channels_path, method: :get) do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag ("Search") %>
    <% end %>
    <%= yield %>
  </body>
</html>
